.box-add_to_cart {
    display: flex; 
    width: 100%; 
    height: auto;
    align-items: center;
    justify-content: center;
}

.testTipo {
    font-family: 'Futura';
}

.cardItem{
    margin-top: 15px;
}

.price {
    text-align: center;
}